@namespace BasketballSimulator.UI.Components
@using BasketballSimulator.Core.Models.Players
@using Microsoft.AspNetCore.Components

@if (PlayerModel != null)
{
    <div class="player-card-container d-flex overflow-auto small-scrollbar">
        <!-- Left info panel -->
        <div class="player-info pe-4 border-end">
            <strong>
                <b>@PlayerModel.FullName</b>
            </strong>
            <br />
            <strong>
                @PlayerModel.Archetype.ToString(), @PlayerModel.Position.ToString()
            </strong>
            <br />
            <span>@($"{PlayerModel.Height} cm")</span>,
            <span>@($"{PlayerModel.Weight} kg")</span>
            <br />
            <span>Country: <b>@PlayerModel.Country</b></span>
            <br />
            <span>Age: <b>@PlayerModel.Age</b></span>
            <br />
            <span>Potential: <b>@PlayerModel.Potential</b></span>
            <br />
            <span>Intangibles: <b>@PlayerModel.Intangibles</b></span>
            <br />
            <span>Total Attributes: <b>@PlayerModel.TotalAttributes</b></span>
            <br />
            <span>Overall: <b>@PlayerModel.Overall</b></span>
            <br />
        </div>

        <!-- Right stats panel -->
        <div class="stats-panel flex-grow-1 ps-4">
            <div class="ratings-overview-grid">

                <div class="section">
                    <h5>Athleticism</h5>
                    <table>
                        <tbody>
                            <tr><td>Height Rating:</td><td>@PlayerModel.Athleticism.HeightRating</td></tr>
                            <tr><td>Speed:</td><td>@PlayerModel.Athleticism.Speed</td></tr>
                            <tr><td>Agility:</td><td>@PlayerModel.Athleticism.Agility</td></tr>
                            <tr><td>Strength:</td><td>@PlayerModel.Athleticism.Strength</td></tr>
                            <tr><td>Vertical:</td><td>@PlayerModel.Athleticism.Vertical</td></tr>
                            <tr><td>Stamina:</td><td>@PlayerModel.Athleticism.Stamina</td></tr>
                            <tr><td>Hustle:</td><td>@PlayerModel.Athleticism.Hustle</td></tr>
                            <tr><td>Overall Durability:</td><td>@PlayerModel.Athleticism.OverallDurability</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="section">
                    <h5>Outside Scoring</h5>
                    <table>
                        <tbody>
                            <tr><td>Close Shot:</td><td>@PlayerModel.OutsideScoring.CloseShot</td></tr>
                            <tr><td>Mid Range Shot:</td><td>@PlayerModel.OutsideScoring.MidRangeShot</td></tr>
                            <tr><td>Three Point Shot:</td><td>@PlayerModel.OutsideScoring.ThreePointShot</td></tr>
                            <tr><td>Free Throw:</td><td>@PlayerModel.OutsideScoring.FreeThrow</td></tr>
                            <tr><td>Shot IQ:</td><td>@PlayerModel.OutsideScoring.ShotIQ</td></tr>
                            <tr><td>Offensive Consistency:</td><td>@PlayerModel.OutsideScoring.OffensiveConsistency</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="section">
                    <h5>Inside Scoring</h5>
                    <table>
                        <tbody>
                            <tr><td>Layup:</td><td>@PlayerModel.InsideScoring.Layup</td></tr>
                            <tr><td>Standing Dunk:</td><td>@PlayerModel.InsideScoring.StandingDunk</td></tr>
                            <tr><td>Driving Dunk:</td><td>@PlayerModel.InsideScoring.DrivingDunk</td></tr>
                            <tr><td>Post Hook:</td><td>@PlayerModel.InsideScoring.PostHook</td></tr>
                            <tr><td>Post Fade:</td><td>@PlayerModel.InsideScoring.PostFade</td></tr>
                            <tr><td>Post Control:</td><td>@PlayerModel.InsideScoring.PostControl</td></tr>
                            <tr><td>Draw Foul:</td><td>@PlayerModel.InsideScoring.DrawFoul</td></tr>
                            <tr><td>Hands:</td><td>@PlayerModel.InsideScoring.Hands</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="section">
                    <h5>Playmaking</h5>
                    <table>
                        <tbody>
                            <tr><td>Pass Accuracy:</td><td>@PlayerModel.Playmaking.PassAccuracy</td></tr>
                            <tr><td>Ball Handle:</td><td>@PlayerModel.Playmaking.BallHandle</td></tr>
                            <tr><td>Speed With Ball:</td><td>@PlayerModel.Playmaking.SpeedWithBall</td></tr>
                            <tr><td>Pass IQ:</td><td>@PlayerModel.Playmaking.PassIQ</td></tr>
                            <tr><td>Pass Vision:</td><td>@PlayerModel.Playmaking.PassVision</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="section">
                    <h5>Defense</h5>
                    <table>
                        <tbody>
                            <tr><td>Interior Defense:</td><td>@PlayerModel.Defense.InteriorDefense</td></tr>
                            <tr><td>Perimeter Defense:</td><td>@PlayerModel.Defense.PerimeterDefense</td></tr>
                            <tr><td>Steal:</td><td>@PlayerModel.Defense.Steal</td></tr>
                            <tr><td>Block:</td><td>@PlayerModel.Defense.Block</td></tr>
                            <tr><td>Help Defense IQ:</td><td>@PlayerModel.Defense.HelpDefenseIQ</td></tr>
                            <tr><td>Pass Perception:</td><td>@PlayerModel.Defense.PassPerception</td></tr>
                            <tr><td>Defensive Consistency:</td><td>@PlayerModel.Defense.DefensiveConsistency</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="section">
                    <h5>Rebounding</h5>
                    <table>
                        <tbody>
                            <tr><td>Offensive Rebound:</td><td>@PlayerModel.Rebounding.OffensiveRebound</td></tr>
                            <tr><td>Defensive Rebound:</td><td>@PlayerModel.Rebounding.DefensiveRebound</td></tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Player PlayerModel { get; set; }
}
